/* Custom Styles */
/* csslint ignore: text-indent */

html { font-size: 30px;}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear {
  clear: both;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

.html-tag {
  background-image: url("../images/tagbreakdown.png");
  background-position: 0 0;
  background-size: cover;
  display: block;
  height: 208px;
  width: 450px;
}

.html-closing {
  background-position: 0 226px;
}

.reveal .example-container {
  font-size: 30px;
}

.reveal .example {
  font-size: 0.75em;
}

.reveal .img-small {
  max-width: 200px;
  vertical-align: middle;
}

.reveal .img-medium {
  max-width: 400px;
  vertical-align: middle;
}

.reveal section .gdi-logo {
  border: 0;
  box-shadow: none;
  width: 50%;
}

.reveal pre {
  margin-bottom: 0;
}

.two-column-code {
  width: 1000px;
}

.two-column-code pre,
.two-column-code p {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

.reveal .example-container-2 {
  font-size: 30px;
}

.reveal .example-2 {
  font-size: 0.75em;
}

.reveal .example-2 .example-2 {
  font-size: 1em;
}

.reveal .example-3 {
  font-size: 0.75rem;
}


.reveal .box-model-margin {
  width: 600px;
  height: 500px;
  background: aquamarine;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reveal .box-model-border {
  width: 400px;
  height: 350px;
  background: deeppink;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reveal .box-model-padding {
  width: 300px;
  height: 250px;
  background: gold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reveal .box-model-box {
  width: 200px;
  height: 150px;
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal .full-width {
  width: 100%;
}

.reveal .short-code {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}

.reveal .tip {
  display: block;
  font-size: 24px;
  line-height: 1.5;
}
