/* Custom Styles */
/* csslint ignore: text-indent */

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear {
  clear: both;
}

.html-tag {
  background-image: url('../images/tagbreakdown.png');
  background-position: 0 0;
  background-size: cover;
  display: block;
  height: 139px;
  width: 300px;
}

.html-closing {
  background-position: 0 151px;
}

.reveal .example-container {
  font-size: 30px;
}

.reveal .example {
  font-size: .75em;
}

.reveal .img-small {
  max-width: 200px;
  vertical-align: middle;
}

.reveal .img-medium {
  max-width: 400px;
  vertical-align: middle;
}

.reveal section .gdi-logo {
  border: 0;
  box-shadow: none;
  width: 50%;
}

.reveal pre {
  margin-bottom: 0;
}

.two-column-code pre {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
}

.reveal .example-container-2 {
  font-size: 30px;
}

.reveal .example-2 {
  font-size: .75em;
}

.reveal .example-2 .example-2 {
  font-size: 1em;
}


.reveal .box-model-margin {
  width: 600px;
  height: 500px;
  background: aquamarine;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reveal .box-model-border {
  width: 400px;
  height: 350px;
  background: deeppink;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reveal .box-model-padding {
  width: 300px;
  height: 250px;
  background: gold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reveal .box-model-box {
  width: 200px;
  height: 150px;
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;

}
