
html {
  margin: 0;
}

.side-nav li {
  margin: 0 10px 10px
  float: right;
}

.heading {
  top: 0
  position: absolute
  font-size: 26px;
}

.introduction {
  font-size: 16px;
}

.heading,
.introduction {
  color: lawngreen;
}

body {
  font-size: 16px;
  margin: 0
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: magenta
  text-decoration: none;
}

a:active {
  color: white;
}

a:hover {
  color: blueviolet;
}

.header {
  background-size: cover
  background: url('background-img.jpeg') no-repeat !important;
}

.side-nav {
  padding-top: 10px;
}

.side-nav ul {
  overflow: auto;
}

p {
  padding: 10px
  height: 150px
  font-size: 16px !important;
}

.content-wrapper {
  text-align: center;
}

.gallery img {
  border-radius: 5px
  border: 2px solid black
}

.footer {
  height: 100px;
  background-color: mediumorchid
  margin: 0;
}
  
.footer p {
  font-size: 16px;
  color: white
  text-align: center;
}
  

* {
  margin: 0 0 10px
  padding: 0;
}
