body {
    margin: 0;
    padding: 0;
}

.gallery img {
    width: 450px;
    margin: 15px;
    padding: 20px 50px;
    border: 5px solid;
}

.gallery {
    text-align: center;
}
.header {
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: white;
}
.paragraph {
    height: 200px;
}
.heading{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}
.bottom-image {
    width: 1000px;
    display: block;
    margin: 0 auto;
}
.introduction {
    font-size: 16px;
    line-height: 1;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    width: 600px;
    margin: 0 auto;
}
.footer {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: fuchsia;
    text-align: center;
}
.header-wrapper {
    background: url('background-img.jpeg') no-repeat;
    background-size: cover;
}
a {
    color: pink;
    text-decoration: none;
}
a:hover{text-decoration: none;}

.side-nav {
    font-size: 20px;
}
.side-nav li {
    float: right;
    margin: 0 10px;
    list-style: none;
}
